/*首页banner图*/

.home-banner{
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}
.home-banner .frame{
	position: relative;
	width: 1903px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.home-banner .frame .home-banner-list{
	height: 100%;
	width: 17127px;
	position: absolute;
	left: 0;
	top: 0;
}
.home-banner .frame .home-banner-list>li{
	float: left;
	width: 1903px;
	height: 100%;
}
.home-banner .frame .home-banner-list>li>a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat; 
}

























