

.common-header{
	box-shadow: 0 2px 8px rgba(230,230,230,0.75);
    border-bottom: 1px solid #f1f1f1;
}
.vip-login{
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}
.vip-login p.member{
	font-size: 20px;
    font-family: 'Hiragino Sans GB',"微软雅黑",sans-serif;
    color: #999;
    padding-top: 15px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 36px;
}
.vip-login .login-info .login-left{
	position: relative;
	width: 500px;
	margin-bottom: 46px;
}
.login{
	position: absolute;
	left: 175px;
	bottom: 31px;
}
.login-btn{
	padding: 12px 33px;
    height: 48px;
    border-radius: 4px;
    font-size: 18px;
    color: #64a131!important;
    background-color: #fff!important;
    box-shadow: none!important;
    border: 1px solid transparent;
    border-color: #64a131!important;
    text-align: center;
    cursor: pointer;
}
.login-right{
	width: 500px;
	padding-left: 60px;
}

.login-right .login-form ul li{
	margin-bottom: 26px;
}
.text01, .text02, .text03, .text04, .text05{
	width: 96px;
    height: 40px;
    font-size: 16px;
    font-family: 'Hiragino Sans GB','微软雅黑',sans-serif;
    color: #999;
    text-align: right;
}
.text01, .text02, .text03, .text04, .text05 span{
	line-height: 40px;
}
.login-right .login-form ul li .send-yanzm{
	position: relative;
	padding-left: 42px;
}
.login-right .login-form ul li input{
	width: 300px;
    height: 40px;
    outline: none;
    border-radius: 0;
    font-family: arial;
}
.login-right .login-form ul li .send-yanzm .true{
	right: -36px;
}
.login-right .login-form ul li .true{
	position: absolute;
    top: 10px;
    right: -65px;
    width: 22px;
    height: 22px;
    background: url(../images/icons.png) no-repeat -12px -360px;
}
.login-pass .text04 span{
	line-height: 40px;
}
.login-right .login-form ul li .password{
	position: relative;
	padding-left: 42px;
}
.login-right .login-form ul li .password .true{
	right: -36px;
}
.login-right .login-form ul li .Apassword{
	position: relative;
	padding-left: 42px;
}
.login-right .login-form ul li .Apassword .true{
	right: -36px;
}
.login-right .login-form ul li .yanzm{
	position: relative;
	padding-left: 42px;
}
.login-right .login-form ul li .yanzm input{
	width: 272px;
}
.login-right .login-form ul li .yanzm .yanzm-img{
	position: absolute;
	top: 1px;
	right: 1px;
}
.login-right .login-form ul li .yanzm .update{
	position: absolute;
    top: 10px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: url(../images/icons.png) no-repeat -7px -325px;
    cursor: pointer;
}
.login-right .login-form ul li .mobile-yanzm{
	position: relative;
	padding-left: 42px;
}
.login-right .login-form ul li .mobile-yanzm .true{
	right: -36px;
}
.login-right .login-form ul li .send{
	position: absolute;
    top: 1px;
    right: 1px;
    width: 98px;
    height: 38px;
    font-size: 14px;
    font-family: 'Hiragino Sans GB','微软雅黑',sans-serif;
    line-height: 38px;
    text-align: center;
    background-color: #eaeaea;
    cursor: pointer;
}
b{
	font-weight: bold;
}


.form-control{
	display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.login-form ul .login-forget{
	margin-bottom: 6px;
}
.login-form ul li .wj-mima{
	font-size: 16px;
    font-family: 'Hiragino Sans GB','微软雅黑',sans-serif;
    color: #999;
    width: 300px;
}
.login-form ul li .wj-mima .fr-jz .checkbox{
	position: relative;
	display: block;
	margin: 10px 0;
}
.login-form ul li .wj-mima .fr-jz .checkbox label{
	display: inline-block;
	min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.login-form ul li .wj-mima .fr-jz .checkbox input{
	width: 18px;
    height: 18px;
    position: absolute;
    top: -2px;
    outline: none;
    font-family: arial;
    margin-left: -20px;
    margin-top: 4px;
}
.login-form ul li .wj-mima .fr-jz .checkbox span{
	position: absolute;
    top: 0;
    width: 65px;
    left: 20px;
}
.login-form ul li .wj-mima .fr-wj{
	line-height: 43px;
}
.login-form ul li .wj-mima .fr-wj a{
	color: #999999;
	text-decoration: underline;
}
.fr-regist{
	margin-right: 14px;
}
.fr-regist a{
	display: block;
    width: 143px;
    height: 38px;
    background-color: #64a131;
    padding: 0px;
    border-radius: 4px;
    border: none;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.fr-login a{
	display: block;
    width: 143px;
    height: 38px;
    padding: 0px;
    border: 1px solid #64a131;
    border-radius: 6px;
    line-height: 38px;
    text-align: center;
    background-color: #f5ffed;
    font-size: 18px;
    color: #7bae55;
    text-decoration: none;
}





/*购物车页面*/
.common-header .navbar .cart-icon{
	width: 352px;
    height: 42px;
    margin-right: 15px;
    background: url(../images/icons.png) no-repeat -39px -887px;
    /*-945px;*/
}
.common-header .navbar ul.cart-icon li{
	margin-top: 7px;
    font-size: 20px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    text-align: center;
}
.common-header .navbar ul.cart-icon .li1{
	position: relative;
    left: -10px;
}
.common-header .navbar ul.cart-icon li span{
	color: #fff;
}
.common-header .navbar ul.cart-icon li p{
	margin-top: 12px;
	font-size: 12px;
}

.common-header .navbar .cart-icon .li2{
	position: relative;
    left: 80px;
}

.common-header .navbar .cart-icon .li3{
	position: relative;
    left: 165px;
}

.cart{
	width: 1000px;
	margin: 0 auto;
}
.cart .cart-bar{
	padding-top: 50px;
}
.cart .cart-bar .mycart{
	padding-left: 22px;
	height: 25px;
	background: url(../images/icons.png) no-repeat -525px -330px;
}
.cart .cart-bar .mycart p{
	font-size: 20px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    color: #555555;
    margin-left: 14px;
    line-height: 27px;
}
.cart .cart-bar .mycart a{
	font-size: 14px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    color: #64a131;
    padding-top: 10px;
}
.cart .cart-bar .mycart a:hover{
	text-decoration: underline;
}

.cart-main{
	margin-top: 14px;
}
.cart-main .cart-head{
	height: 50px;
    line-height: 50px;
    padding-left: 14px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #999999;
}
.cart-main .cart-head .cart-select{
	width: 63px;
    height: 50px;
}
.cart-main .cart-head .cart-good{
	margin-left: 200px;
}
.cart-main .cart-head .cart-spec{
	margin-left: 135px;
}
.cart-main .cart-head .cart-price{
	margin-left: 80px;
}
.cart-main .cart-head .cart-number{
	margin-left: 82px;
}
.cart-main .cart-head .cart-sum{
	margin-left: 72px;
}
.cart-main .cart-head .cart-action{
	margin-left: 85px;
}

.cart-main .cart-order{
	border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
.cart-main .cart-order .cart-empty{
	padding: 50px 0;
    font-size: 16px;
    color: #555;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.cart-main .cart-order .cart-empty>a:hover{
	text-decoration: underline;
}


/*有商品时购物车样式*/
.cart-order .cart-box{
	height: 130px;
    border-bottom: 1px solid #ccc;
}
.cart-order .cart-box div{
	height: 100%;
	text-align: center;
	line-height: 130px;
	font-size: 14px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
}
.cart-order .cart-box .cartorder-select{
	width: 51px;
    padding: 0 14px;
}
.cart-order .cart-box .cart-img{
	position: relative;
	width: 110px;
    height: 110px;
    margin: 10px 0;
}
.cart-order .cart-box .cart-img a img{
	width: 100%;
	height: 100%;
}
.cart-order .cart-box .cart-name{
	width: 260px;
}
.cart-order .cart-box .cart-name a{
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
}
.cart-order .cart-box .spec-num{
	width: 62px;
    font-size: 14px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    color: #555;
}

.cart-order .cart-box .single-price{
	width: 168px;
    text-align: center;
    font-size: 14px;
    font-family: "Hiragino Sans GB W6","微软雅黑",sans-serif;
    color: #64a131;
    font-weight: bold;
}
.cart-order .cart-box .num-set{
	margin-top: 53px;
    height: 24px !important;
    border: 1px solid #dddddd;
    border-radius: 1px;
    width: 93px;
}
.cart-order .cart-box .num-set span.num{
	width: 28px;
    height: 22px;
    background-color: #eeeeee;
    color: #a6a6a6;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
}
.cart-order .cart-box .num-set input{
	outline: none;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    font-size: 14px;
    width: 35px;
    height: 22px;
    border: 0px;
    text-align: center;
    line-height: 24px;
    padding: 0px;
    background-color: #fff;
}
.cart-order .cart-box .sum{
	width: 120px;
    text-align: center;
    font-size: 14px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    color: #64a131;
    font-weight: bold;
}
.cart-order .cart-box .delete{
	width: 130px;
    cursor: pointer;
    text-align: center;
}

/*购物车尾部*/
.cart-footer{
	margin-top: 24px;
    padding-left: 14px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #64a131;
    background-color: #f5ffed;
}
.cart-footer .cart-pay span{
    margin-left: 15px;
    font-size: 14px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    color: #999999;
}
.cart-footer .cart-pay span em{
	color: #64a131;
    font-style: normal;
    font-weight: bold;
}
.cart-footer .cart-pay span.total-price{
    font-size: 22px;
    color: #64a131;
    font-weight: bold;
}
.cart-footer .cart-pay .go-pay{
	margin-left: 15px;
    width: 150px;
    height: 48px;
    background-color: #64a131;
    text-align: center;
    font-size: 20px;
    font-family: "Hiragino Sans GB W6","微软雅黑",sans-serif;
    color: #ffffff;
    background-color: #64a131;
    cursor: pointer;
}

/*弹出窗*/
.dialog-content .choice{
	width: 100%;
	line-height: 30px;
	margin: 0 0 15px;
}
.dialog-content .choice>button{
	min-width: 90px;
    margin-right: 15px;
    border-radius: 4px;
}
.btn-success{
	background: #64A131;
	color: #fff;
}
.btn-fail{
	color: #333;
    background-color: #fff;
}
.btn{
	display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

/*感兴趣的内容*/
.look-history{
	position: relative;
}
.look-history .history-tit{
	padding-left: 10px;
	padding-top: 15px;
    padding-bottom: 15px;
    line-height: 32px;
    font-size: 16px;
    font-family: "Hiragino Sans GB","微软雅黑",sans-serif;
    color: #555555;
    cursor: pointer;
}
.look-history .history-content{
	height: 266px;
    border: 1px solid #ddd;
}





/*确认订单信息页面*/
.order-info{
	width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
.order-info .order-tit{
    background: url(../images/icons.png) no-repeat -525px -332px;
}
.order-info .order-tit>h3{
	color: #555;
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    margin-left: 28px;
    line-height: 24px;
}
.order-info>h4{
	padding: 20px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    font-size: 16px;
    color: #555;
    font-weight: 500;
}
.order-info>h4>a{
	font-size: 14px;
    color: #5157a6;
}
.order-info>h4>a:hover{
	text-decoration: underline;
	color: orange;
}
.order-info .order-address{
	margin: 0 30px;
}
.order-info .order-address>.order-addresslist{
	margin: 10px 0 0;
}
.order-info .order-address>.order-addresslist>li{
	height: 36px;
    margin: 10px 0 0;
    line-height: 36px;
    color: #555;
}
.order-info .order-address>.order-addresslist>li>.tag{
	float: left;
    width: 140px;
    margin-right: 15px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}
.order-info .order-address>.order-addresslist>li.cur>.tag{
	border: 2px solid #64a131;
    background: #f5ffed;
    line-height: 32px;
}
.order-info .order-address>.order-addresslist>li.cur>.operate{
	display: block;
}
.order-info .order-address>.order-addresslist>li>.flt{
	max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.order-info .order-address>.order-addresslist>li>.operate{
	display: none;
	float: left;
	margin-left: 15px;
}
.order-info .order-address>.order-addresslist>li>.operate>a{
	display: inline-block;
    margin-right: 10px;
    color: #5157a6;
}

.order-info .order-address .address-switch{
	height: 36px;
    margin: 10px 0 0;
    line-height: 36px;
    color: #555;
}
.order-info .order-address .address-switch .more{
	display: block;
    width: 80px;
    cursor: pointer;
}
.order-info .order-address .address-switch .more b{
	font-weight: bold;
}
.order-info .order-address .address-switch .more>a{
	display: inline-block;
    vertical-align: middle;
    height: 10px;
    line-height: 10px;
    width: 9px;
    background: url(../images/addr.png) no-repeat 0 0;
}
.order-info .order-address .address-switch .more>a.bu{
	background: url(../images/addr.png) no-repeat 0 -10px;
}

.order-info .pay-method{
	margin: 0 30px;
}
.order-info .pay-method .pay-methodlist{
	margin: 10px 0 0;
}
.order-info .pay-method .pay-methodlist >li{
	position: relative;
    float: left;
    width: 140px;
    height: 36px;
    margin: 10px 15px 0 0;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}
.order-info .pay-method .pay-methodlist >li.cur{
	border: 2px solid #64a131;
    background: #f5ffed;
    line-height: 32px;
}
.order-info .pay-method .pay-methodlist >li.sp-pay{
	min-width: 165px;
    width: auto;
    padding: 0 10px;
}
.order-info .pay-method .pay-methodlist >li.sp-pay .payways{
	position: absolute;
	top: 40px;
	width: 200px;
    margin: 0 -3px;
    left: -25%;
    min-width: 240px;
    padding: 5px 10px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25);
    border-radius: 4px;
}
.order-info .pay-method .pay-methodlist >li.sp-pay>.payways>li{
	padding: 0 6px;
    height: 36px;
    line-height: 36px;
    background: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
.order-info .pay-method .pay-methodlist >li.sp-pay>.payways>li.cur{
	border: 2px solid #64a131;
    background: #f5ffed;
}

.send-message{
	width: 400px;
    margin-top: 25px;
}
.send-message>h5{
	margin: 0 0 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 14px;
    overflow: hidden;
}
.send-message>h5>a{
	color: #5157a6;
}
.send-message>h5>span{
	margin-right: 10px;
    color: #999;
}
.send-message>h5>p{
	width: 70%;
	margin: 0 0 10px;
}
.send-message>h5.beizhu>span{
	margin-top: 10px;
}
.send-message>h5.beizhu>textarea{
	display: block;
    height: auto;
    width: 330px;
    resize: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    font-family: inherit;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.send-cartlist{
	width: 485px;
    margin: 25px 0 0;
}
.send-cartlist>li{
	padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.send-cartlist>li>dl{
	height: 80px;
    margin: 0;
}
.send-cartlist>li>dl>dt{
	float: left;
    width: 80px;
    height: 100%;
    margin-right: 15px;
}
.send-cartlist>li>dl>dt>img{
	width: 100%;
	height: 100%;
}
.send-cartlist>li>dl>dd{
	float: left;
    width: 390px;
    height: 100%;
}
.send-cartlist>li>dl>dd .protitle{
	padding-top: 2px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.send-cartlist>li>dl>dd .proinfo{
	padding-top: 5px;
    color: #999;
}
.send-cartlist>li>dl>dd .proinfo>span{
	display: inline-block;
    margin-left: 40px;
}

.jifen{
	padding-top: 20px;
	margin: 0 30px;
}
.order-all{
	padding: 20px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #555;
}
.order-all>p{
	color: #999;
	text-align: right;
	margin: 0 0 10px;
}
.order-all>p>span{
	display: inline-block;
    min-width: 70px;
    margin-left: 10px;
    color: #555;
}
.order-last{
	width: 100%;
    height: 50px;
    margin-top: 25px;
    border: 1px solid #64a131;
    background: #f5ffed;
    line-height: 48px;
}
.order-last>.total-price{
	margin-left: 10px;
    color: #64a131;
    font-size: 22px;
    font-weight: bold;
}
.order-last>a{
	width: 150px;
    color: #fff;
    background: #64a131;
    margin-left: 30px;
    text-align: center;
    font-size: 20px;
}
























